header {
    font-family: "Roboto-Mono", monospace;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;

}

a {
    text-decoration: none;
}

main {
    min-height: calc(100vh - 104px);
}

.header-in-left-corner {
    color: black;
    margin: 0;
    font-size: 24px;
    padding: 10px;
    display: flex;
    font-weight: normal;
    align-items: flex-start;
}

.welcome-header {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    font-size: 20px;
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.welcome-header img {
    width: 50%;
    display: flex;
    border-radius: 30px;
}

.matches-button, .home-button {
    font-family: "Roboto-Mono", monospace;
    margin-left: auto;
    color: black;
    background-color: white;
    font-size: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    border-radius: 8px;
    margin-right: 20px;
    width: 100px;
    align-items: flex-start;
}

.matches-button:hover, .home-button:hover {
    background-color: #f0f0f0;
    color: chocolate;
    border-color: chocolate;
}

.home-button:active, .matches-button:active {
    background-color: #ddd;
    transform: scale(0.98);
}

.buttons-under-picture {
    font-size: x-large;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin-top: 7px;
}

.first-start-button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vw;
    font-weight: normal;
    width: 102%;
    max-width: 102%;
    height: 50px;
    background-color: #42a7f5;
    border: none;
    color: white;
    border-radius: 30px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.3s ease;
    display: flex;
    transform: translate(-2%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second-start-button {
    font-size: xx-large;
    font-weight: bold;
    max-width: 100%;
    height: 50px;
    background-color: #42a7f5;
    border: none;
    color: white;
    border-radius: 30px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.3s ease;
    margin: 2px auto;
    width: 90%;
}


.welcome-header h1 {
    font-size: clamp(1.5rem, 5vw, 4rem);
}

.welcome-header p {
    font-size: clamp(1.5rem, 2vw, 4rem);;
}

.results-button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vw;
    font-weight: normal;
    width: 100%;
    max-width: 100%;
    height: 50px;
    background-color: rgb(185, 181, 181);
    border: none;
    color: white;
    border-radius: 30px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first-start-button:hover, .second-start-button:hover {
    background-color: #266ca2;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.3s ease;
}


.results-button:hover {
    background-color: rgb(118, 116, 116);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.3s ease;
}

.start-match-header, .end-match-header {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: flex;
    transform: translate(0%, 7%);
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.start-match-header img {
    max-width: 100%;
    width: 65%;
    position: relative;
    border-radius: 42px;
}

.players-form {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: block;
    transform: translate(51%, 20%);
    width: 100%;
    max-width: 50%;
}

.players-form input {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    width: 90%;
    padding: 15px;
    margin-bottom: 25px;
    font-size: 1em;
    border-radius: 35px;
    border: 1px solid #d7caca;
    box-sizing: border-box;
}

.players-form label {
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    font-weight: lighter;
    margin-left: 10px;
}

.players-form input::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    color: #42a7f5;
}

.current-match-header {
    position: relative;
    width: 60%;
    display: flex;
    left: 50%;
    transform: translate(-50%, 3%);
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.current-match-header img {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 10px;
    border-radius: 30px;
}

.score-table {
    border: 1px solid #cac7c7;
    border-radius: 30px;
    margin: 60px auto;
    width: 65%;
    border-spacing: 0;
    text-align: left;
    position: relative;
    top: 50%;
    left: 0%;
}

.score-table th, .score-table td {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    border-bottom: 1px solid #dddddd;
    padding: 5px;
}

.score-table th {
    font-family: "Roboto Mono", monospace;
    border-bottom: 1px solid #cac7c7;
    font-weight: bold;
}

.score-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #dddddd;
    height: 100vh;
    padding-top: 50px;
}

.score-table td:first-child {
    width: 5%;
    padding: 60px 5px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.score-btn {
    font-family: "Roboto Mono", monospace;
    font-size: large;
    font-weight: bold;
    width: 90%;
    height: 50px;
    background-color: #42a7f5;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}

.score-btn:hover {
    background-color: #266ca2;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.3s ease;
}

@media (max-width: 768px) {
    .current-match-header {
        top: 10%;
        font-size: 18px;
    }

    .current-match-header img {
        width: 80%;
        height: auto;
    }

    .score-table {
        width: 90%;
        left: 5%;
    }

    .score-table th, .score-table td {
        font-size: 16px;
    }

    .score-btn {
        font-size: 18px;
        height: 45px;
    }

    .score-table td:first-child {
        width: 10%;
        padding: 30px 5px;
    }
}

@media (max-width: 1024px) {
    .current-match-header {
        top: 21%;
        font-size: 18px;
    }

    .current-match-header img {
        width: 89vw;
        height: auto;
    }

    .score-table {
        width: 85%;
        left: 7.5%;
    }

    .score-table th, .score-table td {
        font-size: 18px;
    }

    .score-btn {
        font-size: 20px;
        height: 50px;
    }

    .score-table td:first-child {
        width: 8%;
        padding: 50px 5px;
    }
}


@media (min-width: 1025px) {
    .score-btn {
        font-size: 22px;
        height: 55px;
    }

    .score-table th, .score-table td {
        font-size: 20px;
    }
}


.filter-container {
    width: 100%;
    display: block;
    height: 4vw;
}

.reset-button {
    position: absolute;
    width: 20%;
    max-width: 50%;
    margin-right: 17%;
    margin-left: 63vw;
}

.filter-line {
    font-size: 2vw;
    width: 47%;
    height: 4vw;
    border-radius: 5vw;
    margin-left: 15%;
    margin-right: auto;
    background-color: #dddddd;
    border: none;
    padding-left: 12px;
    color: #000;
}

.matches-table {
    width: 70%;
    margin: 10px auto 20px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.matches-table th {
    font-family: "Roboto-Mono", monospace;
    font-weight: bold;
    padding: 5px;
    background: #dddddd;
    border: 1px solid #dddddd;
}

.matches-table td {
    font-family: "Roboto-Mono", monospace;
    width: 33%;
    border-bottom: 1px solid #dddddd;
    padding: 51px 0;
    text-align: center;
}

.matches-table tr td:first-child, .matches-table tr th:first-child {
    border-left: none;
}

.matches-table tr td:last-child, .matches-table tr th:last-child {
    border-right: none;
}

.winner-name-td {
    font-family: "Roboto-Mono", monospace;
    background-color: #dddddd;
    display: block;
    width: 38%;
    margin: 0 auto;
    border-radius: 18px;
}

.prev, .next {
    text-decoration: none;
    font-size: 40px;
    color: #000;
}

.next {
    margin-left: 20px;
}

.pagination {
    font-family: "Roboto-Mono", monospace;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num-page {
    font-family: "Roboto-Mono", monospace;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.num-page.current {
    font-weight: bold;
}

.matches-header {
    margin-left: 150px;
}

.filter-button {
    font-family: "Ubuntu", sans-serif;
    font-size: 2vw;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.3s ease;
    width: 100%;
    line-height: 4vw;
    margin-left: 0px;
    border-radius: 10vw;
    border: none;
    background-color: #42a7f5;
    color: #fff;
    cursor: pointer;
    margin-top: 1px;
}

.filter-button:hover {
    background-color: #266ca2;
}

.divider {
    margin-top: -10px;
    color: #ccc;
}

.error-message {
    font-family: "Roboto-Mono", monospace;
    color: red;
    font-weight: normal;
    font-size: large;
    position: relative;
    display: flex;
    transform: translate(5%, -48%);
}

.error-message.show {
    opacity: 1;
}